@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="admin-"]:before, [class*=" admin-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.admin-home:before {
  content: "\21";
}
.admin-home-2:before {
  content: "\22";
}
.admin-newspaper:before {
  content: "\23";
}
.admin-pencil:before {
  content: "\24";
}
.admin-pencil-2:before {
  content: "\25";
}
.admin-droplet:before {
  content: "\26";
}
.admin-pictures:before {
  content: "\27";
}
.admin-picture:before {
  content: "\28";
}
.admin-camera:before {
  content: "\29";
}
.admin-music:before {
  content: "\2a";
}
.admin-play:before {
  content: "\2b";
}
.admin-film:before {
  content: "\2c";
}
.admin-camera-2:before {
  content: "\2d";
}
.admin-spades:before {
  content: "\2e";
}
.admin-clubs:before {
  content: "\2f";
}
.admin-diamonds:before {
  content: "\30";
}
.admin-broadcast:before {
  content: "\31";
}
.admin-mic:before {
  content: "\32";
}
.admin-book:before {
  content: "\33";
}
.admin-file:before {
  content: "\34";
}
.admin-file-2:before {
  content: "\35";
}
.admin-new:before {
  content: "\36";
}
.admin-copy:before {
  content: "\37";
}
.admin-folder:before {
  content: "\38";
}
.admin-folder-2:before {
  content: "\39";
}
.admin-tag:before {
  content: "\3a";
}
.admin-cart:before {
  content: "\3b";
}
.admin-basket:before {
  content: "\3c";
}
.admin-calculate:before {
  content: "\3d";
}
.admin-support:before {
  content: "\3e";
}
.admin-phone:before {
  content: "\3f";
}
.admin-mail:before {
  content: "\40";
}
.admin-location:before {
  content: "\41";
}
.admin-compass:before {
  content: "\42";
}
.admin-history:before {
  content: "\43";
}
.admin-clock:before {
  content: "\44";
}
.admin-bell:before {
  content: "\45";
}
.admin-calendar:before {
  content: "\46";
}
.admin-printer:before {
  content: "\47";
}
.admin-mouse:before {
  content: "\48";
}
.admin-screen:before {
  content: "\49";
}
.admin-laptop:before {
  content: "\4a";
}
.admin-mobile:before {
  content: "\4b";
}
.admin-cabinet:before {
  content: "\4c";
}
.admin-drawer:before {
  content: "\4d";
}
.admin-drawer-2:before {
  content: "\4e";
}
.admin-box:before {
  content: "\4f";
}
.admin-box-add:before {
  content: "\50";
}
.admin-box-remove:before {
  content: "\51";
}
.admin-download:before {
  content: "\52";
}
.admin-upload:before {
  content: "\53";
}
.admin-database:before {
  content: "\54";
}
.admin-flip:before {
  content: "\55";
}
.admin-flip-2:before {
  content: "\56";
}
.admin-undo:before {
  content: "\57";
}
.admin-redo:before {
  content: "\58";
}
.admin-forward:before {
  content: "\59";
}
.admin-reply:before {
  content: "\5a";
}
.admin-reply-2:before {
  content: "\5b";
}
.admin-comments:before {
  content: "\5c";
}
.admin-comments-2:before {
  content: "\5d";
}
.admin-comments-3:before {
  content: "\5e";
}
.admin-comments-4:before {
  content: "\5f";
}
.admin-comments-5:before {
  content: "\60";
}
.admin-user:before {
  content: "\61";
}
.admin-user-2:before {
  content: "\62";
}
.admin-user-3:before {
  content: "\63";
}
.admin-busy:before {
  content: "\64";
}
.admin-loading:before {
  content: "\65";
}
.admin-loading-2:before {
  content: "\66";
}
.admin-search:before {
  content: "\67";
}
.admin-zoom-in:before {
  content: "\68";
}
.admin-zoom-out:before {
  content: "\69";
}
.admin-key:before {
  content: "\6a";
}
.admin-key-2:before {
  content: "\6b";
}
.admin-locked:before {
  content: "\6c";
}
.admin-unlocked:before {
  content: "\6d";
}
.admin-wrench:before {
  content: "\6e";
}
.admin-equalizer:before {
  content: "\6f";
}
.admin-cog:before {
  content: "\70";
}
.admin-pie:before {
  content: "\71";
}
.admin-bars:before {
  content: "\72";
}
.admin-stats-up:before {
  content: "\73";
}
.admin-gift:before {
  content: "\74";
}
.admin-trophy:before {
  content: "\75";
}
.admin-diamond:before {
  content: "\76";
}
.admin-coffee:before {
  content: "\77";
}
.admin-rocket:before {
  content: "\78";
}
.admin-meter-slow:before {
  content: "\79";
}
.admin-meter-medium:before {
  content: "\7a";
}
.admin-meter-fast:before {
  content: "\7b";
}
.admin-dashboard:before {
  content: "\7c";
}
.admin-fire:before {
  content: "\7d";
}
.admin-lab:before {
  content: "\e000";
}
.admin-remove:before {
  content: "\e001";
}
.admin-remove-2:before {
  content: "\e002";
}
.admin-remove-3:before {
  content: "\e003";
}
.admin-briefcase:before {
  content: "\e004";
}
.admin-briefcase-2:before {
  content: "\e005";
}
.admin-cars:before {
  content: "\e006";
}
.admin-bus:before {
  content: "\e007";
}
.admin-cube:before {
  content: "\e008";
}
.admin-cube-2:before {
  content: "\e009";
}
.admin-puzzle:before {
  content: "\e00a";
}
.admin-glasses:before {
  content: "\e00b";
}
.admin-glasses-2:before {
  content: "\e00c";
}
.admin-accessibility:before {
  content: "\e00d";
}
.admin-accessibility-2:before {
  content: "\e00e";
}
.admin-target:before {
  content: "\e00f";
}
.admin-target-2:before {
  content: "\e010";
}
.admin-lightning:before {
  content: "\e011";
}
.admin-power:before {
  content: "\e012";
}
.admin-power-2:before {
  content: "\e013";
}
.admin-clipboard:before {
  content: "\e014";
}
.admin-clipboard-2:before {
  content: "\e015";
}
.admin-playlist:before {
  content: "\e016";
}
.admin-grid-view:before {
  content: "\e017";
}
.admin-tree-view:before {
  content: "\e018";
}
.admin-cloud:before {
  content: "\e019";
}
.admin-cloud-2:before {
  content: "\e01a";
}
.admin-download-2:before {
  content: "\e01b";
}
.admin-upload-2:before {
  content: "\e01c";
}
.admin-upload-3:before {
  content: "\e01d";
}
.admin-link:before {
  content: "\e01e";
}
.admin-link-2:before {
  content: "\e01f";
}
.admin-flag:before {
  content: "\e020";
}
.admin-flag-2:before {
  content: "\e021";
}
.admin-attachment:before {
  content: "\e022";
}
.admin-eye:before {
  content: "\e023";
}
.admin-eye-2:before {
  content: "\e024";
}
.admin-bookmark:before {
  content: "\e025";
}
.admin-bookmark-2:before {
  content: "\e026";
}
.admin-star:before {
  content: "\e027";
}
.admin-star-2:before {
  content: "\e028";
}
.admin-star-3:before {
  content: "\e029";
}
.admin-heart:before {
  content: "\e02a";
}
.admin-heart-2:before {
  content: "\e02b";
}
.admin-thumbs-up:before {
  content: "\e02c";
}
.admin-thumbs-down:before {
  content: "\e02d";
}
.admin-happy:before {
  content: "\e02e";
}
.admin-smiley:before {
  content: "\e02f";
}
.admin-neutral:before {
  content: "\e030";
}
.admin-plus:before {
  content: "\e031";
}
.admin-minus:before {
  content: "\e032";
}
.admin-help:before {
  content: "\e033";
}
.admin-help-2:before {
  content: "\e034";
}
.admin-blocked:before {
  content: "\e035";
}
.admin-cancel:before {
  content: "\e036";
}
.admin-cancel-2:before {
  content: "\e037";
}
.admin-checkmark:before {
  content: "\e038";
}
.admin-minus-2:before {
  content: "\e039";
}
.admin-plus-2:before {
  content: "\e03a";
}
.admin-enter:before {
  content: "\e03b";
}
.admin-exit:before {
  content: "\e03c";
}
.admin-loop:before {
  content: "\e03d";
}
.admin-arrow-up-left:before {
  content: "\e03e";
}
.admin-arrow-up:before {
  content: "\e03f";
}
.admin-arrow-up-right:before {
  content: "\e040";
}
.admin-arrow-right:before {
  content: "\e041";
}
.admin-arrow-down-right:before {
  content: "\e042";
}
.admin-arrow-down:before {
  content: "\e043";
}
.admin-arrow-down-left:before {
  content: "\e044";
}
.admin-arrow-left:before {
  content: "\e045";
}
.admin-arrow-up-left-2:before {
  content: "\e046";
}
.admin-arrow-up-2:before {
  content: "\e047";
}
.admin-arrow-up-right-2:before {
  content: "\e048";
}
.admin-arrow-right-2:before {
  content: "\e049";
}
.admin-arrow-down-right-2:before {
  content: "\e04a";
}
.admin-arrow-down-2:before {
  content: "\e04b";
}
.admin-arrow-down-left-2:before {
  content: "\e04c";
}
.admin-arrow-left-2:before {
  content: "\e04d";
}
.admin-arrow-up-left-3:before {
  content: "\e04e";
}
.admin-arrow-up-3:before {
  content: "\e04f";
}
.admin-arrow-up-right-3:before {
  content: "\e050";
}
.admin-arrow-right-3:before {
  content: "\e051";
}
.admin-arrow-down-right-3:before {
  content: "\e052";
}
.admin-arrow-down-3:before {
  content: "\e053";
}
.admin-arrow-down-left-3:before {
  content: "\e054";
}
.admin-arrow-left-3:before {
  content: "\e055";
}
.admin-arrow-up-4:before {
  content: "\e056";
}
.admin-arrow-right-4:before {
  content: "\e057";
}
.admin-arrow-down-4:before {
  content: "\e058";
}
.admin-arrow-left-4:before {
  content: "\e059";
}
.admin-arrow-up-5:before {
  content: "\e05a";
}
.admin-arrow-right-5:before {
  content: "\e05b";
}
.admin-arrow-down-5:before {
  content: "\e05c";
}
.admin-arrow-left-5:before {
  content: "\e05d";
}
.admin-arrow-up-6:before {
  content: "\e05e";
}
.admin-arrow-right-6:before {
  content: "\e05f";
}
.admin-arrow-down-6:before {
  content: "\e060";
}
.admin-arrow-left-6:before {
  content: "\e061";
}
.admin-menu:before {
  content: "\e062";
}
.admin-enter-2:before {
  content: "\e063";
}
.admin-backspace:before {
  content: "\e064";
}
.admin-backspace-2:before {
  content: "\e065";
}
.admin-tab:before {
  content: "\e066";
}
.admin-tab-2:before {
  content: "\e067";
}
.admin-checkbox:before {
  content: "\e068";
}
.admin-checkbox-unchecked:before {
  content: "\e069";
}
.admin-checkbox-partial:before {
  content: "\e06a";
}
.admin-radio-checked:before {
  content: "\e06b";
}
.admin-radio-unchecked:before {
  content: "\e06c";
}
.admin-font:before {
  content: "\e06d";
}
.admin-paragraph-left:before {
  content: "\e06e";
}
.admin-paragraph-center:before {
  content: "\e06f";
}
.admin-paragraph-right:before {
  content: "\e070";
}
.admin-paragraph-justify:before {
  content: "\e071";
}
.admin-left-to-right:before {
  content: "\e072";
}
.admin-right-to-left:before {
  content: "\e073";
}
.admin-share:before {
  content: "\e074";
}
.admin-new-tab:before {
  content: "\e075";
}
.admin-new-tab-2:before {
  content: "\e076";
}
.admin-embed:before {
  content: "\e077";
}
.admin-code:before {
  content: "\e078";
}
.admin-bluetooth:before {
  content: "\e079";
}
.admin-share-2:before {
  content: "\e07a";
}
.admin-share-3:before {
  content: "\e07b";
}
.admin-mail-2:before {
  content: "\e07c";
}
.admin-mail-3:before {
  content: "\e07d";
}
.admin-mail-4:before {
  content: "\e07e";
}
.admin-google:before {
  content: "\e07f";
}
.admin-google-plus:before {
  content: "\e080";
}
.admin-google-plus-2:before {
  content: "\e081";
}
.admin-google-plus-3:before {
  content: "\e082";
}
.admin-gplus:before {
  content: "\e083";
}
.admin-google-drive:before {
  content: "\e084";
}
.admin-facebook:before {
  content: "\e085";
}
.admin-facebook-2:before {
  content: "\e086";
}
.admin-facebook-3:before {
  content: "\e087";
}
.admin-instagram:before {
  content: "\e088";
}
.admin-twitter:before {
  content: "\e089";
}
.admin-twitter-2:before {
  content: "\e08a";
}
.admin-twitter-3:before {
  content: "\e08b";
}
.admin-feed:before {
  content: "\e08c";
}
.admin-feed-2:before {
  content: "\e08d";
}
.admin-feed-3:before {
  content: "\e08e";
}
.admin-youtube:before {
  content: "\e08f";
}
.admin-youtube-2:before {
  content: "\e090";
}
.admin-vimeo:before {
  content: "\e091";
}
.admin-vimeo-2:before {
  content: "\e092";
}
.admin-flickr:before {
  content: "\e093";
}
.admin-flickr-2:before {
  content: "\e094";
}
.admin-flickr-3:before {
  content: "\e095";
}
.admin-picassa:before {
  content: "\e096";
}
.admin-picassa-2:before {
  content: "\e097";
}
.admin-dribbble:before {
  content: "\e098";
}
.admin-dribbble-2:before {
  content: "\e099";
}
.admin-dribbble-3:before {
  content: "\e09a";
}
.admin-forrst:before {
  content: "\e09b";
}
.admin-forrst-2:before {
  content: "\e09c";
}
.admin-deviantart:before {
  content: "\e09d";
}
.admin-deviantart-2:before {
  content: "\e09e";
}
.admin-github:before {
  content: "\e09f";
}
.admin-github-2:before {
  content: "\e0a0";
}
.admin-github-3:before {
  content: "\e0a1";
}
.admin-github-4:before {
  content: "\e0a2";
}
.admin-github-5:before {
  content: "\e0a3";
}
.admin-github-6:before {
  content: "\e0a4";
}
.admin-git:before {
  content: "\e0a5";
}
.admin-github-7:before {
  content: "\e0a6";
}
.admin-wordpress:before {
  content: "\e0a7";
}
.admin-wordpress-2:before {
  content: "\e0a8";
}
.admin-joomla:before {
  content: "\e0a9";
}
.admin-blogger:before {
  content: "\e0aa";
}
.admin-blogger-2:before {
  content: "\e0ab";
}
.admin-tumblr:before {
  content: "\e0ac";
}
.admin-tumblr-2:before {
  content: "\e0ad";
}
.admin-yahoo:before {
  content: "\e0ae";
}
.admin-yahoo-2:before {
  content: "\e0af";
}
.admin-amazon:before {
  content: "\e0b0";
}
.admin-amazon-2:before {
  content: "\e0b1";
}
.admin-tux:before {
  content: "\e0b2";
}
.admin-apple:before {
  content: "\e0b3";
}
.admin-finder:before {
  content: "\e0b4";
}
.admin-android:before {
  content: "\e0b5";
}
.admin-windows:before {
  content: "\e0b6";
}
.admin-soundcloud:before {
  content: "\e0b7";
}
.admin-soundcloud-2:before {
  content: "\e0b8";
}
.admin-skype:before {
  content: "\e0b9";
}
.admin-reddit:before {
  content: "\e0ba";
}
.admin-linkedin:before {
  content: "\e0bb";
}
.admin-linkedin-2:before {
  content: "\e0bc";
}
.admin-lastfm:before {
  content: "\e0bd";
}
.admin-lastfm-2:before {
  content: "\e0be";
}
.admin-delicious:before {
  content: "\e0bf";
}
.admin-stumbleupon:before {
  content: "\e0c0";
}
.admin-stumbleupon-2:before {
  content: "\e0c1";
}
.admin-pinterest:before {
  content: "\e0c2";
}
.admin-pinterest-2:before {
  content: "\e0c3";
}
.admin-xing:before {
  content: "\e0c4";
}
.admin-xing-2:before {
  content: "\e0c5";
}
.admin-flattr:before {
  content: "\e0c6";
}
.admin-foursquare:before {
  content: "\e0c7";
}
.admin-foursquare-2:before {
  content: "\e0c8";
}
.admin-paypal:before {
  content: "\e0c9";
}
.admin-paypal-2:before {
  content: "\e0ca";
}
.admin-paypal-3:before {
  content: "\e0cb";
}
.admin-yelp:before {
  content: "\e0cc";
}
.admin-libreoffice:before {
  content: "\e0cd";
}
.admin-file-pdf:before {
  content: "\e0ce";
}
.admin-file-openoffice:before {
  content: "\e0cf";
}
.admin-file-word:before {
  content: "\e0d0";
}
.admin-file-excel:before {
  content: "\e0d1";
}
.admin-file-powerpoint:before {
  content: "\e0d2";
}
.admin-file-zip:before {
  content: "\e0d3";
}
.admin-file-xml:before {
  content: "\e0d4";
}
.admin-file-css:before {
  content: "\e0d5";
}
.admin-html5:before {
  content: "\e0d6";
}
.admin-html5-2:before {
  content: "\e0d7";
}
.admin-css3:before {
  content: "\e0d8";
}
.admin-chrome:before {
  content: "\e0d9";
}
.admin-firefox:before {
  content: "\e0da";
}
.admin-IE:before {
  content: "\e0db";
}
.admin-opera:before {
  content: "\e0dc";
}
.admin-safari:before {
  content: "\e0dd";
}
.admin-IcoMoon:before {
  content: "\e0de";
}
